// app global css in SCSS form
.main-container{
    padding: 0px 40px 22px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.bg {
    width: 100%;
    padding: 0 3em 3em 3em;
    background-color: #e9ecef;
}

.title {
    font-size: 29px;
}

.subTitulo {
    font-size: 18px;
}

.divisor-inline{
    border-bottom: solid #000000;
    border-width: thin;
    opacity: 0.2;
    margin: 0;
    padding: 0;
}

.btn-cadastrar{
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    color: #ffffff;
    background-color: #1976D2;
    min-width: 14px;
}

.btn-voltar{
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    color: #000000;
    background-color: #dddddd;
    min-width: 150px;
}

.view-field {
  display: flex;
  flex-direction: column; /* label em cima, value embaixo */
  gap: 4px;
}

.label-view {
  font-size: 12px;
  color: #777;
  font-weight: 500;
}

.value-view {
  font-size: 15px;
  font-weight: 500;
  color: #000;
}

.column-header {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.column-label {
  font-weight: 600;
}